.hero {
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
  background-color: $second-bg-color;

  @media (min-width: $desktop) {
    height: 600px;
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  max-width: 360px;
  text-transform: uppercase;
  color: $white-text-color;
  font-size: 26px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-align: center;

  @media (min-width: $desktop) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.364;
  }
}

.hero__overlay {
  margin-left: auto;
  margin-right: auto;
  background-image: $gradient, url(../images/bgimg/header480.jpg);
  background-size: 480px 400px;
  // max-width: 480px;

  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: $gradient, url(../images/bgimg/header480@2.jpg);
  }
  @media (min-width: 481px) {
    width: 100%;
    background-size: cover;
    min-height: 400px;
    background-image: $gradient, url(../images/bgimg/header768.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: $gradient, url(../images/bgimg/header768@2x.jpg);
    }
  }
  @media (min-width: 1200px) {
    background-size: 1600px 600px;
    max-width: 1600px;
    background-image: $gradient, url(../images/bgimg/bg-img1200.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      max-width: 1600px;
      background-image: $gradient, url(../images/bgimg/bg-img1200@2x.jpg);
    }
  }
}