.logo {
    margin-right: 90px;
    display: block;
    /*padding-top: 24px;
    padding-bottom: 25px;*/
  
    color: $accent-color;
    font-family: $raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
  }
  .logo__header--textcolor {
    color: $first-logo-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  
  // footer logo settings
  
  .logo__footer {
    margin-bottom: 20px;
  }
  
  .logo__footer--textcolor {
    color: $white-text-color;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }