.soc__list {
  padding: 0;
  display: flex;
  justify-content: center;
}
.soc__item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.soc__link {
  display: flex;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $cliets-color;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: $accent-color;
    color: $white-text-color;
  }
}

.soc__icon {
  fill: currentColor;
}

.team__title {
  font-size: 28px;
  line-height: 1.179;
  margin-bottom: 30px;

  @media (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.166;
  }
}

.team__section {
  background-color: $sect-team-bg-color;
}

.team__list {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media (min-width: $desktop) {
    flex-wrap: nowrap;
  }
}

.team__item {
  margin-right: auto;
  margin-left: auto;
  background: $primary-bg-color;

  margin-bottom: 30px;
  max-width: 450px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet) {
    &:last-child {
      margin-bottom: 15px;
    }
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }

}
.team__card {
  padding-top: 30px;
  padding-bottom: 24px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $desktop) {
    padding-bottom: 30px;
  }
}

.team__img {
  display: block;
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__text--fontstyle {
  font-weight: 500;
  color: $title-text-color;
  margin-bottom: 10px;
}