$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$button-accent-color: #188ce8;
$primary-bg-color: #ffffff;
$white-text-color: #ffffff;
$footer-contact-color: rgba(255, 255, 255, 0.6);
$second-bg-color: #2f303a;
$first-logo-color: #000000;
$sect-team-bg-color: #f5f4fa;
$cliets-color: #afb1b8;
$task-description-bg-color: rgba(47, 48, 58, 0.8);
$portf-card-bg-color: rgba(33, 150, 243, 0.9);

$roboto: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;